body {
  height: 100vh;
}
.container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.shadowContainer {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 150px 150px;
  column-gap: 50px;
}

button {
  padding: 25px 0px;
  border: 0;
  border-radius: 10px;
  background-color: rgb(58, 205, 58);
  color: white;
  font-size: 25px;
}
.button1{
    box-shadow: 2px 10px 15px black;
}
.button2{
    box-shadow: 1px 15px 20px black;
}
.button3{
     box-shadow: 1px 10px 20px black inset;
}
.button4{
    box-shadow: 0 4px 10px 2px green;
}