.box {
  width: 300px;
  height: 300px;
  background-color: red;
  animation: transfer 2s ease-in-out infinite alternate;
  position: relative;
}

@keyframes transfer {
  from {
    left: 0;
  }
  to {
    left: 300px;
  }
}
.fade {
  animation: FadeIn 2s forwards infinite alternate;
  background-color: blue;
  height: 200px;
  width: 200px;
}
@keyframes FadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.pulse {
  animation: pulseButton 2s infinite;
}

@keyframes pulseButton {
  66% {
    transform: scale(2);
  }
  100% {
    transform: scale(1);
  }
}

.block {
  width: 200px;
  height: 200px;
  background-color: red;
  animation: block 6s infinite alternate;
}

@keyframes block {
  0% {
    background-color: orange;
  }
  20% {
    background-color: yellow;
  }
  40% {
    background-color: green;
  }
  60% {
    background-color: cyan;
  }
  80% {
    background-color: blue;
  }
  100% {
    background-color: pink;
  }
}
