* {
  margin: 0;
  padding: 0;
}
.photo {
  display: flex;
  align-items: center;
}

img {
  height: 200px;
  width: 200px;
}
main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}
.bird {
  background-color: aquamarine;
  width: 800px;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
}

.container {
  width: 200px;
  height: 200px;
  position: relative;
}
.desc {
  visibility: hidden;
}

.text-container {
  position: absolute;
  bottom: 10px;
  right: 0;
  left: 0;
  background-color: red;
  text-align: center;
  height: 20px;
  overflow: hidden;
}

.container:hover .text-container {
  height: 130px;
  transition: height 1s;
}
.container:hover .desc {
  visibility: visible;
}
